.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent; /* Transparent background initially */
    color: white;
    padding: 10px 0;
    z-index: 1000;
    transition: background 0.3s ease;
  }
  
  .navbar.scrolled {
    background: linear-gradient(135deg, #004d99, #00b3b3); /* Semi-transparent background when scrolled */
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin: 0 15px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    border-radius: 5px;
  }
  
  .navbar a:hover {
    color: rgb(0, 0, 0);
  }